.selected-text-true {
	background-color: black;
	color: blue;
}

.selected-text-false {
	background-color: black;
	color: red;
}

.selected-text {
	background-color: black;
	color: blue;	
}

.unselected-text {
	background-color: black;
	color: red;	
}

.error {
	color : red;
}

.column {
	position: relative;
    width: 47.5%;
    padding: 1%;
    /*border: solid 1px #000;*/
}

.left {
	float: left;
}

.right {
	float: right;
}

.bigText {
	font-size: 30;
}

body {
	background-color: #2E2E2E;
	color: white;
}

/* Link colors */
a:link {color:#CAA100;}      /* unvisited link */
a:visited {color:#CAA100;}  /* visited link */
a:hover {color:white;}  /* mouse over link */
a:active {color:red;}  /* selected link */

/* Rounded borders */
button,input {
	-moz-border-radius: 15px;
	border-radius: 15px;
}

input {
	padding-left: 5px;
	padding-right: 5px;
}

.header {
	position: fixed;
	top:0;
  	height:45px;
  	background-color:#000;
  	color:#FFF;
  	z-index: 1;
  	width: 100%;
  	padding-top: 5px;
  	padding-left: 5px;
}

.content {
	overflow:hidden;
	margin-top: 25px;
	z-index: 2;
}

.bigfont {
	font-size: 30px;
	font-weight: bold;
}

/* Advanced directive css */
.collapsible.head {
	border: 1px solid white;
	background-color: black;
	color: white;
}
.collapsible.head:hover {
	cursor: pointer;
}

.collapsible.body {
	border: 1px solid white;
}

/* Simple animations */
.fader.ng-hide-add {
  opacity: 1.0;
  display: block !important;
  transition: opacity 1s;
}

.fader.ng-hide-add-active {
  opacity: 0;
}

/* Using animate.css */
.animatedItem.ng-enter {
	-webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.animatedItem.ng-leave {
	-webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
    animation: fadeOut 1s;
}
