<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/jee 
        http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd"
>
    
    <context:component-scan base-package="com.github.apycazo.arcanum.spring_core" />
    
    <!-- This bean will be inyected to the worker, to take over task_2 -->
    <bean id="helper" class="com.github.apycazo.arcanum.spring_core.Helper"/>
    <!-- The worker class, will receive a helper, and has set name and beanName -->
    <bean id="worker" class="com.github.apycazo.arcanum.spring_core.WorkerBean">
        <property name="workerName" value="John Doe"/>
        <constructor-arg ref="helper"/>
    </bean>
    <!-- This factory will be used as prototype -->
    <bean id="factory" class="com.github.apycazo.arcanum.spring_core.Factory" scope="prototype"></bean>
    <!-- Factory builder, used by worker to instance several factory prototypes -->
    <bean id="FactoryBuilder" class="org.springframework.beans.factory.config.ObjectFactoryCreatingFactoryBean">
        <property name="targetBeanName">
            <idref local="factory"/>
        </property>
    </bean>

</beans>
